*{
    margin: 0;
    padding : 0;
}
#card{
     width: 25rem; 
     text-align: center
 }

.gambar-welcome{
    height:10rem;
}


.kata-welcome{
    font-size: 1.6rem;
}

.kata-welcome2{
    font-size: 1rem;
    font-weight: 400;
}

#tombol-welcome{
    font-size: 1.2rem;
    height:auto;
    margin-top: 22px;
}

#camera video{
    width:17rem;
}

@media(min-width:481px) and (max-width:850px){
    #navbar-atas-admin{
        width: 100%;
    }
}

@media(max-width:480px){
    #navbar-atas-admin{
        width: 100%;
    }

    #camera video{
        width:17rem;
    }
}


